# Dependencies
node_modules/
package-lock.json

# Environment & Secrets
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# Logs & OS Files
*.log
.DS_Store
Thumbs.db

# Task & system files
.system_generated/
